button{
    
    position: absolute;
    cursor: pointer;
}    


.squareOne {
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 2em;
    color: white;
    line-height: 6em;
    float: left;
    text-align: center;
    align-items: center;
    
    
}

    
