button{
    position: absolute;
    cursor: pointer;
}    


.squareOne {
    float: left;
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 2em;
    color: white;
    text-align: center;
}

    
